<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Cartella Clinica Paziente:</h1>
<input hidden th:value="${patient.id}" name="id" id="id"/>
<table border="1">
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Data Ricovero</th>
        <th>Data Dmissione</th>
        <th>Farmaci</th>
        <th>Prescrizione</th>
    </tr>
    <tr>
        <td th:text="${patient.firstName}" ></td>
        <td th:text="${patient.lastName}" ></td>
        <td th:text="${#calendars.format(patient.admissionDate,'dd/MM/yyyy')}" style="text-align:center;"></td>
        <td th:text="${#calendars.format(patient.dischargeDate,'dd/MM/yyyy')}" style="text-align:center;"> ancora in struttura </td>
        <td th:text="${cartella.drugs}" ></td>
        <td th:text="${cartella.prescription}" ></td>
    </tr>
</table>

<a href="edit?id=10" th:href="@{edit(id=${patient.id})}" th:if="${flag == 1}"> Modifica </a><br>
<a href="delete?id=10" th:href="@{delete(id=${patient.id})}" th:if="${flag == 1}"> Cancella </a><br>
<a href="list"> Torna alla lista </a>

</body>
</html>