<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div style="background-color: #FFFCE7">
    <h1 th:text="'Paziente: ' + ${patient.firstName + ' ' + patient.lastName}">Paziente</h1>
    <h3 th:text="'Data ricovero: ' + ${#calendars.format(patient.admissionDate,'dd/MM/yyyy')}"></h3>
    <h3 th:text="'Data dimissione: ' + (${#calendars.format(patient.dischargeDate,'dd/MM/yyyy')} ?: 'NON PRESENTE')"></h3>
</div>

<div style="background-color: #CAEEFE">
    <h3>FARMACI:</h3>
    <h3 th:if="${cartella.drugs == ''}">NON PRESENTE</h3>
    <i><p th:text="${cartella.drugs}"></p></i>
</div>

<div style="background-color: #E1FFD4">
    <h3>PRESCRIZIONE:</h3>
    <h3 th:if="${cartella.prescription == ''}">NON PRESENTE</h3>
    <i><p th:text="${cartella.prescription}"></p></i>
</div>

<a href="list"> Torna alla lista </a>

</body>
</html>