<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Inserisci un nuovo paziente</h1>

<form action="create" method="post">
    <table border="1">
        <tr>
            <td>Nome</td>
            <td><input type="text" name="firstName" required></td>
        </tr>
        <tr>
            <td>Cognome</td>
            <td><input type="text" name="lastName" required><br></td>
        </tr>
        <tr>
            <td>Data ricovero</td>
            <td><input type="date" name="admissionDate" placeholder="YYYY-MM-DD" required><br></td>
        </tr>
    </table>

    <input type="submit" />
</form>

<br>
<a href="list"> Torna alla lista </a>

</body>
</html>

